<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-title"><h1>Myproject</h1></div>
        <div class="nav-right">
            <img src="https://static-00.iconduck.com/assets.00/notification-icon-1845x2048-k24ddt5c.png" alt="notifications">
            {% if user %}
            <a href="/logout"><img src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" alt="login"></a>
            {% else %}
            <a href="/login"><button>Login</button></a>
            {% endif %}
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>